<!DOCTYPE html>
<html>
<head>
  <title>CMHP - Cool Music for Hot People</title>
  <% include ./head %>
</head>
<body>

  <nav class="topnav">
    <div class="topnav-message">
      <div class="tagline">
        <a href='/'>cool music for hot people</a>
      </div>
      <div class="logo">CMHP</div>
    </div>
  </nav>

  <div class="mixtapes-container">
    <div class="description">
      this is cool music for hot people. 
    </div>
    <div class="mixtape">
      <div class="mixtape-name"><a href="/vol-i">CMHP I (July 2016)</a></div>
      <div class="coming-soon"><a href="#">CMHP II (August 2016) ~ Coming Soon</a></div>
    </div>
  </div>

</body>
</html>