<!DOCTYPE html>
<html>
<head>
  <title>CMHP - Cool Music for Hot People</title>
  <link href="https://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>

  <nav class="topnav">
    <div class="topnav-message">
      <div class="tagline">
        <a href='/'>cool music for hot people</a>
      </div>
      <div class="logo">CMHP</div>
    </div>
  </nav>

  <div class="mixtapes-container">
    <div class="mixtape">
      <!-- <div class="mixtape-cover"><img class="image" src="../cover.jpg"></div> -->
      <div class="mixtape-name"><a href="/vol-i">CMHP I (July 2016)</a></div>
    </div>
  </div>

</body>
</html>