<!DOCTYPE html>
<html>
<head>
  <title>CMHP - Cool Music for Hot People</title>
  <% include ./head %>
</head>
<body>

  <nav class="topnav">
    <div class="topnav-message">
      <div class="logo"><a href='/'>CMHP</a></div>
    </div>
  </nav>

  <div class="mixtapes-container">
    <div class="description">
      <p>this is cool music for hot people.</p>
      <p>a brain child of <a href="https://twitter.com/brycetrudow" target="_blank">Bryce Rudow</a>.</p>
      <p>built by <a href="https://twitter.com/ammarm08" target="_blank">Ammar</a>.</p>
      <p>curated by <a href="https://www.facebook.com/groups/105383222947891/" target="_blank">ridiculously good looking people</a>.</p>
    </div>
    <div class="mixtape">
      <div class="mixtape-name"><a href="/vol-i">CMHP I (July 2016)</a></div>
      <div class="coming-soon">CMHP II (August 2016) ~ Coming Soon</div>
    </div>
  </div>

</body>
</html>