<!DOCTYPE html>
<html>
<head>
  <title>CMFHP - Cool Music for Hot People</title>
  <link href="https://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>

  <nav class="topnav">
    <div class="topnav-message">
      <div class="tagline">
        cool music for hot people
      </div>
      <div class="logo">CMHP</div>
    </div>
  </nav>

  <div class="app">
    <div class="song-img-container">
      <!-- img for specific song + hidden onhover div go here -->
      <img class="image" src="../cover.jpg"/>
    </div>
    <div class="playlist-container">
    <!-- songs go here -->
      <div class="song">
        <div class="song-details">
          <div class="song-title playing">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
      <div class="song">
        <div class="song-details">
          <div class="song-title">Blow My High</div>
          <div class="song-artist">Kendrick Lamar</div>
        </div>
        <div class="share-song">Share</div>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <nav class="navbottom">
    <div class="audio-container">
      <div class="glyphicon glyphicon-backward"></div>
      <div class="glyphicon glyphicon-play"></div>
      <div class="glyphicon glyphicon-forward"></div>
    </div>
  </nav>

</body>
</html>