<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>

  <nav class="topnav">
    <div class="topnav-message">
      <div class="survey">
        Link to Typeform
      </div>
    </div>
  </nav>

  <nav class="sidenav">
    <div class="logo-container">
      <!-- logo goes here -->
    </div>
    <div class="links-container">
      <!-- links go here -->
    </div>
    <div class="audio-container">
      <!-- audio player goes here -->
    </div>
  </nav>

  <div class="app">
    <div class="song-img-container">
      <!-- img for specific song + hidden onhover div go here -->
    </div>
    <div class="playlist-container">
    <!-- songs go here -->
    </div>
  </div>

</body>
</html>