<div class="mobile-notice">
  <p>Womp, this isn't ready for mobile primetime.</p>
  <p><a id="email" href="https://mail.google.com/mail/?view=cm&fs=1&su=Cool Music For Hot People&body=Check out coolmusicforhotpeople.herokuapp.com" target="_blank">Email</a> this to yourself for future listening. </p>
</div>