body {
  margin: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

/* TOP NAV */

.topnav {
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #333;
  color: #333;
  background: #fff;
  transition: 0.3s all;
}

.tagline {
  display: none;
  font-size: 1.5em;
  padding-top: 4px;
  color: #9b59b6;
}

.logo {
  font-family: 'Istok Web', sans-serif;
  font-size: 2em;
  letter-spacing: -0.11em;
}

.topnav-message {
  width: 100%;
  text-align: center;
  padding: 8px;
}

.topnav:hover > .topnav-message .logo {
  display: none;
}

.topnav:hover > .topnav-message .tagline {
  display: block;
}

/* MAIN APP */

.app {
  width: 90%;
  height: 78vh;
  margin: 10px auto;
}

.song-img-container {
  float: left;
}

.song-img-container, .playlist-container {
  width: 45%;
  height: 78vh;
  margin: 24px auto;
  transition: 0.3s all;
}

.image {
  width: 100%;
  height: 550px;
  max-height: 550px;
  box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94);
}

.playlist-container {
  float: right;
  width: 50%;
}

.song {
  width: 80%;
  margin: 20px auto;
}

.song-details, .share-song {
  display: inline-block;
}

.song-details {
  width: 80%;
  font-size: 0.9em;
}

.song-artist {
  color: #adadad;
}

.share-song {
  width: 5%;
}

.song-details:hover {
  cursor: pointer;
}

.playing {
  color: #9b59b6 !important;
}

/* BOTTOM NAV */

.navbottom {
  width: 100%;
  /*border-top: 2px solid #333;*/
  background: #fff;
  color: #333;
  transition: 0.3s all;
}

.audio-container {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.audio-container .glyphicon {
  font-size: 1.2em;
  margin: 0 6px;
}

.audio-container .glyphicon:hover {
  cursor: pointer;
}

/* CLEAR */

.clear {
  clear: both;
}


/* VIEWPORTS */

@media screen and (max-width: 1128px) {
  .song-img-container, .playlist-container {
    float: none;
    display: block;
  }

  .app {
    overflow-y: scroll;
    width: 100%;
    height: 85vh;
  }

  .song-img-container, .image {
    height: auto;
  }

}

@media screen and (max-width: 600px) {
  .song-img-container, .playlist-container {
    width: 75%;
  }
}