body {
  margin: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

body a {
  text-decoration: none;
  color: #333;
}

body a:hover {
  text-decoration: none;
  color: #9b59b6;
}

/* TOP NAV */

.topnav {
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #333;
  color: #333;
  background: #fff;
  transition: 0.3s all;
}

.tagline {
  display: none;
  font-size: 1.5em;
  padding-top: 4px;
}

.tagline a {
  color: #9b59b6;
}

.logo a {
  font-family: 'Istok Web', sans-serif;
  font-size: 2em;
  letter-spacing: -0.11em;
  color: #333;
}

.topnav-message {
  width: 100%;
  text-align: center;
  padding: 8px 8px 8px 8px;
}

.topnav:hover > .topnav-message .logo a {
  color: #9b59b6;
  text-decoration: underline;
}

/* MAIN APP */

.app, .mobile-notice {
  width: 90%;
  height: 76vh;
  margin: 10px auto;
}

.mobile-notice {
  margin-top: 150px;
  text-align: center;
  display: none;
}

.song-img-container {
  float: left;
}

.song-img-container, .playlist-container {
  width: 45%;
  height: 76vh;
  margin: 24px auto;
  transition: 0.3s all;
}

.image {
  width: 100%;
  height: 550px;
  max-height: 550px;
  box-shadow: 2px 2px 18px -4px rgba(173,173,173,0.94);
}

.playlist-container {
  float: right;
  width: 50%;
  opacity: 0.5;
  transition: 0.3s all;
}

.song {
  width: 80%;
  margin: 20px auto;
}

.song-details {
  width: 80%;
  font-size: 0.9em;
  float: left;
}

.song-artist {
  color: #adadad;
}

.share-song {
  width: 5%;
  float: right;
}

.share-song a {
  text-decoration: none;
  color: #333;
}

.song-details:hover {
  cursor: pointer;
}

.playing {
  color: #9b59b6 !important;
}

.loading {
  position: absolute;
  left: 70%;
  top: 35%;
  width: 100px;
  transition: 0.3s all;
}

.loading img {
  width: 100%;
  margin: 0 auto;
}

/* BOTTOM NAV */

.navbottom {
  width: 100%;
  background: #fff;
  color: #333;
  transition: 0.3s all;
}

.audio-container {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.audio-container .glyphicon {
  font-size: 1.75em;
  margin: 0 6px;
}

.audio-container .glyphicon:hover {
  cursor: pointer;
}

/* CLEAR */

.clear {
  clear: both;
}

/* MIXTAPES */

.mixtapes-container {
  width: 100%;
  text-align: center;
  padding: 8px;
  margin: 150px auto;
  font-size: 1.5em;
}

.mixtapes-container .description {
  margin-bottom: 50px;
}

.coming-soon, .coming-soon a {
  color: #adadad;
}

.coming-soon a:hover {
  color: #adadad;
}

/* VIEWPORTS */

@media screen and (max-width: 1128px) {
  .song-img-container, .playlist-container {
    float: none;
    display: block;
  }

  .app {
    overflow-y: scroll;
    width: 100%;
    height: 82vh;
  }

  .song-img-container, .image {
    height: auto;
  }

  .loading {
    top: 75%;
    left: 40%;
  }

}

@media screen and (max-width: 600px) {

  .app {
    display: none;
  }

  .mobile-notice {
    display: block;
  }

  #email {
    color: #9b59b6;
  }

  /* BELOW FOR WHEN I GET MOBILE SOUND WORKING */
  /*.app {
    height: 82vh;
  }

  .audio-container .glyphicon {
    font-size: 1.75em;
  }

  .song-img-container, .playlist-container {
    width: 75%;
  }

  .loading {
    top: 75%;
  }*/
}